@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

main {
  position: relative;
}

small {
  color: #BBB;
}

.overlay {
  position: fixed;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.overlay.show {
  opacity: 0.6;
  z-index: 1;
  background-color: rgb(45, 49, 77);
}

.nav {
  position: relative;
  padding: 1.5rem;
  background-color: #FFF;
  width: 100%;
  z-index: 100;
}
.nav__inner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  gap: 2rem;
}
@media only screen and (min-width: 43.75rem) {
  .nav__inner-container {
    flex-direction: row-reverse;
  }
}
@media only screen and (min-width: 68.125rem) {
  .nav__inner-container {
    max-width: 1100px;
    border: 0;
  }
}
.nav__list-container {
  display: none;
  position: absolute;
  background-color: #FFF;
  background-color: hsl(233, 26%, 24%);
  width: 327px;
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 7rem;
  width: 75vw;
  height: auto;
  border-radius: 15px;
  border: 1px solid rgb(238, 238, 238);
  z-index: 100;
}
@media only screen and (min-width: 43.75rem) {
  .nav__list-container {
    display: block;
    width: 65vw;
    align-self: center;
    border: 0;
    margin: 0;
    background-color: transparent;
    position: static;
  }
}
@media only screen and (min-width: 68.125rem) {
  .nav__list-container {
    text-align: right;
    margin-left: 19rem;
  }
}
.nav__left-content {
  display: flex;
  gap: 1rem;
}
@media only screen and (min-width: 43.75rem) {
  .nav__left-content {
    min-width: 201px;
  }
}
.nav__title {
  align-self: center;
  font-weight: 700;
  font-size: 1.25em;
  font-family: "Poppins", sans-serif;
  color: #494949;
}
.nav__list {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media only screen and (min-width: 43.75rem) {
  .nav__list {
    padding: 0;
    flex-direction: row;
  }
}
.nav__list-item {
  list-style: none;
}
.nav__list-link {
  font-size: 1em;
  color: #FFF;
  font-weight: 400;
  text-decoration: none;
  z-index: 2000;
}
@media only screen and (min-width: 43.75rem) {
  .nav__list-link {
    font-size: 0.9em;
    color: #000;
  }
}
@media only screen and (min-width: 68.125rem) {
  .nav__list-link:hover {
    color: #30c88f;
  }
}
.nav__cta {
  display: none;
}
.nav .hamburger-menu {
  background-color: transparent;
  background-image: url(../img/icon-hamburger.svg);
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  width: 45px;
  height: 45px;
  background-position: center center;
  z-index: 1000;
}
@media only screen and (min-width: 43.75rem) {
  .nav .hamburger-menu {
    display: none;
  }
}

.hamburger-menu.active {
  background-image: url(../img/icon-close.svg);
}

.nav__list-container.show {
  display: block;
}

.logo {
  height: auto;
  width: 40px;
}
@media only screen and (min-width: 43.75rem) {
  .logo {
    height: 45px;
    width: 45px;
  }
}

.header {
  padding: 5rem 2rem;
  width: 100%;
  background-image: url("../img/classroom.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media only screen and (min-width: 43.75rem) {
  .header {
    padding: 9rem 2rem;
  }
}
.header__inner-box {
  background-color: #FFF;
  padding: 1rem 2rem;
  width: 85vw;
  border-radius: 25px;
  opacity: 70%;
  margin: 0 auto;
}
@media only screen and (min-width: 43.75rem) {
  .header__inner-box {
    max-width: 550px;
  }
}
.header__heading {
  font-weight: 700;
}
@media only screen and (min-width: 43.75rem) {
  .header__heading {
    font-size: 2.8125rem;
  }
}
@media only screen and (min-width: 43.75rem) {
  .header__tagline {
    font-size: 1.25rem;
  }
}

.content {
  margin-bottom: 5rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: 2rem;
}
.content__container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
@media only screen and (min-width: 43.75rem) {
  .content__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 750px;
    margin: 0 auto;
  }
}
.content__heading {
  color: #494949;
  font-size: 2.0625em;
  font-weight: 400;
  text-align: center;
  margin: 56px 0;
}
@media only screen and (min-width: 68.125rem) {
  .content__heading {
    font-size: 2.5em;
    font-weight: bold;
  }
}

.box {
  border: 1px solid rgb(238, 238, 238);
  max-width: 350px;
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
}
.box__img {
  width: 100%;
}
.box__title {
  display: none;
}
.box__button {
  width: 100%;
  border: 0;
  color: #FFF;
  font-size: 32px;
  padding: 0.8rem;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
}
@media only screen and (min-width: 68.125rem) {
  .box__button:hover {
    opacity: 70%;
  }
}
.box__button.blue {
  background-color: #0D9CC9;
}
.box__button.red {
  background-color: #F75248;
}
.box__button.green {
  background-color: #16CA98;
}
.box__button.yellow {
  background-color: #F9D100;
}

.card {
  min-width: 350px;
  max-width: 700px;
  border: 1px solid #bbb;
  border-radius: 15px;
  padding: 2rem;
  margin: 0 auto;
}
.card__top {
  display: flex;
}
.card__icon {
  border: 1px solid #bbb;
  border-radius: 15px;
  width: 100px;
}
.card__top-text {
  padding: 1rem;
  font-weight: 400;
}
.card__title {
  font-size: 20px;
}
.card__description {
  font-weight: 300;
  padding: 1rem 0;
  margin-bottom: 1rem;
}
.card__btn-more {
  padding: 1rem 2.5rem;
  font-size: 20px;
  font-weight: 700;
  color: #FFF;
  background-color: #0D9CC9;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
}

.page-title {
  text-align: center;
  margin-top: 2rem;
  font-size: 20px;
  color: hsl(233, 26%, 24%);
}

.bold-span {
  font-weight: 700;
}

.modal {
  width: 371px;
  min-width: 350px;
  max-width: 700px;
  border: 1px solid #bbb;
  border-radius: 15px;
  padding: 2rem;
  margin: 0 auto;
  background-color: #FFF;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 3rem;
}
.modal__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-weight: 300;
}
.modal__icon {
  width: 70px;
}
.modal__top {
  display: flex;
  gap: 1rem;
}
.modal__btn-close {
  background: url(/img/icons8-close-30.svg);
  background-repeat: no-repeat;
  background-position-y: 18px;
  width: 30px;
  border: 0;
  cursor: pointer;
}
.modal__title {
  align-self: center;
  font-size: 22px;
  font-weight: bold;
}
.modal__buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modal__btn-template, .modal__btn-powerpoint {
  padding: 1rem;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background-color: #0d9cc9;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
}

.footer {
  background-color: hsl(233, 26%, 24%);
  padding: 2rem;
}
@media only screen and (min-width: 68.125rem) {
  .footer__content {
    display: flex;
    justify-content: space-around;
    max-width: 1570px;
    margin: 0 auto;
  }
}
.footer__logo {
  width: 40px;
}
.footer__social-icons {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
.footer__icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
@media only screen and (min-width: 68.125rem) {
  .footer__icon {
    width: 20px;
    height: 20px;
  }
}
.footer__col-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 68.125rem) {
  .footer__col-1 {
    justify-content: center;
    height: 145px;
  }
}
.footer__title {
  color: #FFF;
  font-weight: 500;
  margin-top: 1rem;
}
@media only screen and (min-width: 68.125rem) {
  .footer__col-2 {
    margin-right: 4rem;
  }
}
.footer__list {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;
}
@media only screen and (min-width: 68.125rem) {
  .footer__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4.9rem;
  }
}
.footer__list-item {
  list-style: none;
}
.footer__list-link {
  color: #FFF;
  font-weight: 400;
  font-size: 0.938rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.footer__list-link:hover {
  color: #30c88f;
}
.footer__col-3 {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;
  gap: 1rem;
}
@media only screen and (min-width: 68.125rem) {
  .footer__col-3 {
    margin-top: 0;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
