// Text
$color-dark-grey: #494949;
$color-black: #000;
$color-light-grey: #BBB;
$color-white: #FFF;
$color-dark-blue: hsl(233, 26%, 24%);

//Buttons
$color-blue: #0D9CC9;
$color-green: #16CA98;
$color-red: #F75248;
$color-yellow: #F9D100;


// Neutral

// Breakpoints
$bp-desktop: 50.625rem;
$bp-tablet: 43.75rem; // 700


