// @use '../abstracts/variables' as v; // double dot to go back an additional step // as v changes namespace
// @use '../abstracts/variables' as *;  // takes away the namespace
@use "../abstracts" as *; // imported with folder because of forwards
@use "./typography" as t;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}



html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  
  font-family: t.$font;
  overflow-x: hidden;

}
 
main {
  position: relative;
}

small {
  color: $color-light-grey;
}



.overlay {
  position: fixed;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
}

.overlay.show {
  opacity: 0.6;
  z-index: 1;
  background-color: rgb(45, 49, 77);
}




