// @use '../abstracts/variables' as v; // double dot to go back an additional step // as v changes namespace
// @use '../abstracts/variables' as *;  // takes away the namespace
@use "../abstracts" as *; // imported with folder because of forwards
@use "./typography" as t;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  
  font-family: t.$font;
  overflow-x: hidden;

}
 
main {

}

.content {
  

  &__heading {
    color: $color-dark-grey;
    font-size: 2.0625em;
    font-weight: t.$regular;
    text-align: center;
    margin: 56px 0;
  }
}

.box {
  border: 1px solid rgb(238, 238, 238);
  max-width: 350px;
  margin: 0 auto;

  &__img {
    
    width: 100%;
  }

  &__bottom-bar {
    // background-color: $color-blue;
    // color: $color-white;
    // font-size: 32px;
    // padding: 0.5rem;
    // font-weight: t.$regular;
    // text-align: center;
    // cursor: pointer;
  }

  &__title {
    display: none;
  }

  &__button {
    // display: none;
    width: 100%;
    border: 0;
    background-color: $color-blue;
    color: $color-white;
    font-size: 32px;
    padding: 0.5rem;
    font-weight: t.$regular;
    text-align: center;
    cursor: pointer;
    
  }
}






