// @use '../abstracts/variables' as v; // double dot to go back an additional step // as v changes namespace
// @use '../abstracts/variables' as *;  // takes away the namespace
@use "../abstracts" as *; // imported with folder because of forwards
@use "./typography" as t;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

// body {
//   background-color: #F9F9F9;
//   font-size: t.$font-size;
//   line-height: 26px;
//   margin: 0 auto;
//   overflow-x: hidden;
//   font-size: t.$font-size;
//   font-family: t.$font;
// }

// }

.nav {
  position: fixed;
  padding: 2rem;
  background-color: $color-white;
  width: 100%;
  z-index: 100;

  @media only screen and (min-width: $bp-desktop) {
    position: relative;
    flex-direction: row-reverse;
    padding: 1rem;
    background-color: hsl(0deg, 0%, 100%);
    width: 100%;
    z-index: 100;
  }

  &__inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    gap: 2rem;

    // @media only screen and (min-width: $bp-desktop) {
    //   max-width: 1200px;
    //   flex-direction: row-reverse;
    //   justify-content: space-between;
    // }
  }

  &__list-container {
    display: none;
    position: absolute;
    background-color: $color-white;
    padding: 1.5rem;
    width: 327px;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 106px;
    width: 90vw;
    border-radius: 4px;
    border: 2px solid black;

    // @media only screen and (min-width: $bp-desktop) {
    //   display: block;
    //   position: static;
    //   padding: 0;
    //   width: auto;
    //   padding-top: 0;
    //   height: 35px;
    //   align-self: center;
    // }
  }

  &__list {
    padding-top: 1rem;

    // @media only screen and (min-width: $bp-desktop) {
    //   display: flex;
    //   gap: 30px;
    //   padding-top: 0;
    // }
  }

  &__list-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1.5rem;

    // @media only screen and (min-width: $bp-desktop) {
    //   margin-bottom: 0;

    // }
  }

  &__list-link {
    // color: $color-dark-blue;

    // @media only screen and (min-width: $bp-desktop) {
    //   font-size: 0.875rem;
    //   color: $color-grayish-blue;
    //   position: relative;
    //   display: inline-block;
    //   padding-bottom: 28px;

    //   &:hover {
    //     &::after {
    //       content: "";
    //       position: absolute;
    //       bottom: 0;
    //       left: 0;
    //       right: 0;
    //       height: 4px;
    //       background-color: #30c88f;

    //     }
    //   }
    // }
  }

  &__cta {
    display: none;

    // @media only screen and (min-width: $bp-desktop) {
    //   display: block;
    //   align-self: center;

    // }
  }

  .hamburger-menu {
    background-color: transparent;
    background-image: url(../img/icon-hamburger.svg);
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    width: 45px;
    height: 45px;
    background-position: center center;

    // @media only screen and (min-width: $bp-desktop) {
    //   display: none;
    // }
  }
}

.hamburger-menu.active {
  background-image: url(../img/icon-close.svg);
}

.nav__list-container.show {
  display: block;
}

.logo {
  height: auto;
  width: 40px;
}
