@use "../abstracts" as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$font: "Poppins", sans-serif;
$thin: 300;
$regular: 400;
$bold: 500;
$ex-bold: 700;
$font-size: 1.125rem;

h1,
h2,
h3,
h4 {
  font-family: $font;
  font-weight: $regular;
  
}

