@use "../abstracts" as *;
@use "../base/typography" as t;

.content {
  margin-bottom: 5rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    @media only screen and (min-width: $bp-tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      max-width: 750px;
      margin: 0 auto;
    }
  }

  &__heading {
    color: $color-dark-grey;
    font-size: 2.0625em;
    font-weight: t.$regular;
    text-align: center;
    margin: 56px 0;

    @media only screen and (min-width: $bp-desktop) {
      font-size: 2.5em;
      font-weight: bold;
    }
  }
}

.box {
  border: 1px solid rgb(238, 238, 238);
  max-width: 350px;
  margin: 0 auto;
  // cursor: pointer;
  @include transition;

  @media only screen and (min-width: $bp-desktop) {
    &:hover {
      // transform: skew(10deg, 10deg);
    }
  }

  &__img {
    width: 100%;
  }

  &__bottom-bar {
    // background-color: $color-blue;
    // color: $color-white;
    // font-size: 32px;
    // padding: 0.5rem;
    // font-weight: t.$regular;
    // text-align: center;
    // cursor: pointer;
  }

  &__title {
    display: none;
  }

  &__button {
    width: 100%;
    border: 0;
    color: $color-white;
    font-size: 32px;
    padding: 0.8rem;
    font-weight: t.$regular;
    text-align: center;
    cursor: pointer;

    @media only screen and (min-width: $bp-desktop) {
      &:hover {
        opacity: 70%;
      }
    }
  }

  &__button.blue {
    background-color: $color-blue;
  }

  &__button.red {
    background-color: $color-red;
  }

  &__button.green {
    background-color: $color-green;
  }

  &__button.yellow {
    background-color: $color-yellow;
  }
}

// CARDS

.card {
  width: 350px;
  border: 1px solid #bbb;
  border-radius: 15px;
  padding: 2rem;
  //TEMP
  margin: 0 auto;

  &__top {
    display: flex;
  }

  &__icon {
    border: 1px solid #bbb;
    border-radius: 15px;
    width: 100px;
  }

  &__top-text {
    padding: 1rem;
    font-weight: t.$regular;
  }

  &__title {
    font-size: 20px;
  }

  &__type {
  }

  &__bottom {
  }

  &__description {
    font-weight: t.$thin;
    padding: 1rem 0;
  }

  &__btn-more {
    padding: 1rem 2.5rem;
    font-size: 20px;
    font-weight: t.$ex-bold;
    color: $color-white;
    background-color: $color-blue;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
  }
}

.card__btn-more.card-blue {
}
