@use "../abstracts" as *;
@use "../base/typography" as t;

.content {
  margin-bottom: 5rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: 2rem;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    @media only screen and (min-width: $bp-tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      max-width: 750px;
      margin: 0 auto;
    }
  }

  &__heading {
    color: $color-dark-grey;
    font-size: 2.0625em;
    font-weight: t.$regular;
    text-align: center;
    margin: 56px 0;

    @media only screen and (min-width: $bp-desktop) {
      font-size: 2.5em;
      font-weight: bold;
    }
  }
}

.box {
  border: 1px solid rgb(238, 238, 238);
  max-width: 350px;
  margin: 0 auto;
  // cursor: pointer;
  @include transition;

  @media only screen and (min-width: $bp-desktop) {
    &:hover {
      // transform: skew(10deg, 10deg);
    }
  }

  &__img {
    width: 100%;
  }

  &__bottom-bar {
    // background-color: $color-blue;
    // color: $color-white;
    // font-size: 32px;
    // padding: 0.5rem;
    // font-weight: t.$regular;
    // text-align: center;
    // cursor: pointer;
  }

  &__title {
    display: none;
  }

  &__button {
    width: 100%;
    border: 0;
    color: $color-white;
    font-size: 32px;
    padding: 0.8rem;
    font-weight: t.$regular;
    text-align: center;
    cursor: pointer;

    @media only screen and (min-width: $bp-desktop) {
      &:hover {
        opacity: 70%;
      }
    }
  }

  &__button.blue {
    background-color: $color-blue;
  }

  &__button.red {
    background-color: $color-red;
  }

  &__button.green {
    background-color: $color-green;
  }

  &__button.yellow {
    background-color: $color-yellow;
  }
}

// CARDS

.card {
  min-width: 250px;
  max-width: 700px;
  border: 1px solid #bbb;
  border-radius: 15px;
  padding: 2rem;
  //TEMP
  margin: 0 auto;

  &__top {
    display: flex;
  }

  &__icon {
    border: 1px solid #bbb;
    border-radius: 15px;
    width: 100px;
  }

  &__top-text {
    padding: 1rem;
    font-weight: t.$regular;
  }

  &__title {
    font-size: 20px;
    // text-align: center;
    // margin-top: 2rem;
    // color: $color-dark-blue;
  }

  &__type {
  }

  &__bottom {
  }

  &__description {
    font-weight: t.$thin;
    padding: 1rem 0;
    margin-bottom: 1rem;
  }

  &__btn-more {
    padding: 1rem 2.5rem;
    font-size: 20px;
    font-weight: t.$ex-bold;
    color: $color-white;
    background-color: $color-blue;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
  }
}

.card__btn-more.card-blue {
}

.page-title {
  text-align: center;
  margin-top: 2rem;
  font-size: 20px;
  color: $color-dark-blue;
}

.bold-span {
  font-weight: t.$ex-bold;
}

.modal {
  visibility: hidden;
  z-index: 100;
  width: 371px;
  min-width: 350px;
  max-width: 700px;
  border: 1px solid #bbb;
  border-radius: 15px;
  padding: 2rem;
  margin: 0 auto;
  background-color: $color-white;

  //POSITIONING
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 3rem;

  &__content {
    display: none;
    // display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: t.$thin;
  }

  &__icon {
    width: 70px;
  }

  &__top {
    display: flex;
    gap: 1rem;
  }

  &__btn-close {
    background: url(../img/icons8-close-30.svg);
    background-repeat: no-repeat;
    background-position-y: 18px;
    width: 30px;
    border: 0;
    cursor: pointer;
  }

  &__title {
    align-self: center;
    font-size: 22px;
    font-weight: bold;
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  

  &__btn-template,
  &__btn-powerpoint {
    padding: 1rem;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #0d9cc9;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
  }
}
