@use "../abstracts" as *;
@use "../base/" as *;
@use "../base/typography" as t;

.nav {
  position: relative;
  padding: 1.5rem;
  background-color: $color-white;
  width: 100%;
  z-index: 100;

  &__inner-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    gap: 2rem;

    @media only screen and (min-width: $bp-tablet) {
      flex-direction: row-reverse;
    }

    @media only screen and (min-width: $bp-desktop) {
      max-width: 1100px;
      border: 0;
    }
  }

  &__list-container {
    display: none;
    position: absolute;
    background-color: $color-white;
    background-color: $color-dark-blue;
    width: 327px;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 7rem;
    width: 75vw;
    height: auto;
    border-radius: 15px;
    border: 1px solid rgb(238, 238, 238);
    z-index: 100;

    @media only screen and (min-width: $bp-tablet) {
      display: block;
      width: 65vw;
      align-self: center;
      border: 0;
      // Negate
      margin: 0;
      background-color: transparent;
      position: static;
    }

    @media only screen and (min-width: $bp-desktop) {
      text-align: right;
      margin-left: 19rem;
    }
  }

  &__left-content {
    display: flex;
    gap: 1rem;

    @media only screen and (min-width: $bp-tablet) {
      min-width: 201px;
    }
  }

  &__title {
    align-self: center;
    font-weight: $ex-bold;
    font-size: 1.25em;
    text-align: center;
    margin-top: 1rem;
    font-family: $font;
    color: $color-dark-grey;
  }

  &__list {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media only screen and (min-width: $bp-tablet) {
      padding: 0;
      flex-direction: row;
    }
  }

  &__list-item {
    list-style: none;
  }

  &__list-link {
    font-size: 1em;
    color: $color-white;
    font-weight: t.$regular;
    text-decoration: none;
    z-index: 2000;

    @media only screen and (min-width: $bp-tablet) {
      font-size: 0.9em;
      color: $color-black;
    }

    @media only screen and (min-width: $bp-desktop) {
      &:hover {
        color: $color-green-links;
      }
    }
  }

  &__cta {
    display: none;
  }

  .hamburger-menu {
    background-color: transparent;
    background-image: url(../img/icon-hamburger.svg);
    background-repeat: no-repeat;
    border: 0;
    cursor: pointer;
    width: 45px;
    height: 45px;
    background-position: center center;
    z-index: 1000;

    @media only screen and (min-width: $bp-tablet) {
      display: none;
    }
  }
}

.hamburger-menu.active {
  background-image: url(../img/icon-close.svg);
}

.nav__list-container.show {
  display: block;
}

.logo {
  height: auto;
  width: 40px;

  @media only screen and (min-width: $bp-tablet) {
    height: 45px;
    width: 45px;
  }
}
